*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    background-image: url(../img/background-trang-cuc-dep.jpg);

    background-size: cover;
}

.header-container-main{
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr;

    text-align: center;

    position: sticky;

    top: 0;


    .header-container__logo{
        padding: 30px;
        background-color: rgb(54, 127, 169);

        display: flex;
        justify-content: center;
        align-items: center;

        gap: 10px;

        cursor: default;

        h3, img{
            font-size: 1.8rem;
            font-weight: 700;
            color: #ffffff;

            transition: transform 0.5s ease;
        }

        h3:hover{
            transform: scale(0.8);
        }

        img:hover{
            transform: scale(0.8);
        }

        


    }

    .header-container__title-page{
        padding: 30px;
        background-color: rgb(54, 127, 169);
        

        h1{
            color: rgb(255, 255, 255);
            transition: transform 0.5s ease;

        }

        h1:hover{
            transform: scale(1.1);
            cursor: default;
        }
    }

    .header-container__previous-page{
        padding: 30px;
        background-color: rgb(54, 127, 169);

        
        cursor: pointer;

        i{
            font-size: 1.8rem;
        }

        a{
            background: none;
            border: none;

             color: #ffffff;

            transition: transform 0.5s ease;
        }

        a:hover{
            transform: scale(1.1);

            cursor: pointer;
        }

        a:active{
            font-size: 1.8rem;
            color: #ffffff;
            cursor: pointer;

            transform:rotateZ(360deg);
        }
    }


}


/* 2. section-main */

.section-container-main{


    border-bottom-left-radius: 6px;

    border-bottom-right-radius: 6px;

    height: auto;

    .section-container__topbar-search{
            
        background-color: rgb(200, 197, 183);

        display: grid;
        grid-template-columns: 1fr 3fr;
        

        text-align: left;

        padding: 20px;

        /* 2.1 */
        .topbar-search__scroll-nav{
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 10px;

            position: relative;

            button, h3{
                 font-size: 1.2rem;
            }

            button{
                background: none;
                border: none;

                transition: transform 0.5s ease;
            }

            button:hover{
                transform: scale(1.1);

                cursor: pointer;
            }

            button:active{
                font-size: 1.2rem;
                color: #ffffff;
                cursor: pointer;

                transform:rotateZ(180deg);
            }
        }

        /* 2.2 */
        .topbar-search__searching{

            display: flex;
            justify-content: center;
            align-items: center;

            gap: 30px;

            label, input, button{
                font-size: 1.2rem;
            }

            label:hover{
                color: #ffffff;
            }

            input{
                width: 700px;

                padding: 12px 24px;

                border-radius: 40px;

                outline: none;

                border: 3px solid black;
            }

            button{
                background: none;
                border: none;

                transition: transform 0.5s ease;
            }

            button:hover{
                transform: scale(1.1);

                cursor: pointer;
            }

            button:active{
                font-size: 1.2rem;
                color: #ffffff;
                cursor: pointer;

                transform:rotateY(360deg);
            }

        }

        /* <!-- 2.3 show list member --> */

        .topbar-search__listmember{
            width: 300px;
            height: 450px;

            background-color: rgb(251, 251, 251);

            position: absolute;

            top: 180px;
            left: 88px;

            box-shadow: 0px 10px 30px rgb(24, 29, 34);

            border-radius: 20px;
        }

        /* 2.3.1 topbar-search__listmember-arrow */
        .topbar-search__listmember-arrow{
            width: 50px;
            height: 300px;

            background-color: rgb(251, 251, 251);

            border-top-left-radius: 70% 100%;
            border-top-right-radius: 70% 100%;
            

           


            position: absolute;

            top: -20px;
            left: 129px;
        }
    }

    .section-container__table-list{

        /* margin: 20px 25px; */

        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(10, 1fr);

        .table-list__header{

            /* grid-column: 100px ; */
            /* margin: 10px; */
            height: auto;

            padding: 7px 10px;

            display: flex;
            justify-content: center;
            align-items: center;

            gap: 10px;

            border: 2px solid black;

            background-color: #ece9bb;

            h3{
                font-size: 1.2rem;
                color: #0c0c08;
            }

            i{
                font-size: 1.2rem;
                color: #0468ff;
            }
        }
        
        

        .table-list__body{
            /* grid-row: 100px; */
            gap: 10px;

            border: 2px solid black;

        }

        .table-list__body-cpm{
            padding: 14px;

            display: flex; 
            justify-content: center;
            align-items: center;

            border: 2px solid black
        }
        
    }
}


@media (max-width: 1024px) {
    .header-container-main {
        grid-template-columns: 1.5fr 3fr 1fr;
    }

    .header-container__title-page h1 {
        font-size: 1.5rem;
    }

    .topbar-search__searching input {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .header-container-main {
        display: flex;
        flex-direction: column;

       
    }

    .header-container__logo, 
    .header-container__title-page, 
    .header-container__previous-page {

        font-size: smaller;
        
        width: 100%;
    }

    .header-container__title-page h1 {
        font-size: 1.2rem;
    }

    .header-container__previous-page {
        position: absolute;
        top: 10px;
        right: 10px;
        width: auto;
        background: none;
    }

    .section-container-main .section-container__topbar-search {
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 15px;
    }

    .topbar-search__scroll-nav{
        z-index: -99999;
    }

    .topbar-search__searching {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .topbar-search__searching label {
        display: none;
    }

    .topbar-search__searching input {
        width: 100%;
        margin: 0;
    }

    .section-container__table-list {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 15px;
    }

    .table-list__header, 
    .table-list__body-cpm {
        display: inline-flex;
        min-width: 120px;
    }

    .topbar-search__listmember {
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }

    .topbar-search__listmember-arrow {
        left: calc(50% - 25px);
    }




  
    .section-container__table-list {
        display: block; 
        width: 100%;
        overflow-x: auto; 
        white-space: nowrap;
        border: 1px solid #000;
        background-color: #fff;
        -webkit-overflow-scrolling: touch;
    }

    
    #table-body-render {
        display: contents; 
    }

    .table-list__header, 
    .table-list__body-cpm {
        display: inline-flex; 
        align-items: center;
        justify-content: center;
        padding: 12px 15px;
        border: 1px solid #000;
        font-size: 14px;
        min-height: 60px;
        vertical-align: top;
    }

    
    .table-list__header:nth-child(1), 
    .table-list__body-cpm:nth-child(7n+1) { 
        min-width: 50px; 
    }

    .table-list__header:nth-child(2), 
    .table-list__body-cpm:nth-child(7n+2) { 
        min-width: 150px; 
    }

    .table-list__header:nth-child(3), 
    .table-list__body-cpm:nth-child(7n+3) { 
        min-width: 180px; 
    }

    .table-list__header:nth-child(4), 
    .table-list__body-cpm:nth-child(7n+4) { 
        min-width: 220px; 
    }

    .table-list__header:nth-child(5), 
    .table-list__body-cpm:nth-child(7n+5) { 
        min-width: 180px; 
    }

    .table-list__header:nth-child(6), 
    .table-list__body-cpm:nth-child(7n+6) { 
        min-width: 130px; 
    }

    .table-list__header:nth-child(7), 
    .table-list__body-cpm:nth-child(7n+7) { 
        min-width: 120px; 
    }

    .table-list__body-cpm button {
        padding: 5px;
        margin: 0 2px;
        font-size: 16px;
    }

    .badge {
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 12px;
    }
}