*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    background-image: url(../img/background-trang-cuc-dep.jpg);

    background-size: cover;
}

.header-container-main{
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr;

    text-align: center;

    position: sticky;

    top: 0;


    .header-container__logo{
        padding: 30px;
        background-color: rgb(54, 127, 169);

        display: flex;
        justify-content: center;
        align-items: center;

        gap: 10px;

        cursor: default;

        h3, img{
            font-size: 1.8rem;
            font-weight: 700;
            color: #ffffff;

            transition: transform 0.5s ease;
        }

        h3:hover{
            transform: scale(0.8);
        }

        img:hover{
            transform: scale(0.8);
        }

        


    }

    .header-container__title-page{
        padding: 30px;
        background-color: rgb(54, 127, 169);
        

        h1{
            color: rgb(255, 255, 255);
            transition: transform 0.5s ease;

        }

        h1:hover{
            transform: scale(1.1);
            cursor: default;
        }
    }

    .header-container__previous-page{
        padding: 30px;
        background-color: rgb(54, 127, 169);

        
        cursor: pointer;

        i{
            font-size: 1.8rem;
        }

        a{
            background: none;
            border: none;

             color: #ffffff;

            transition: transform 0.5s ease;
        }

        a:hover{
            transform: scale(1.1);

            cursor: pointer;
        }

        a:active{
            font-size: 1.8rem;
            color: #ffffff;
            cursor: pointer;

            transform:rotateZ(360deg);
        }
    }


}


/* 2. section-main */

.section-container-main{


    border-bottom-left-radius: 6px;

    border-bottom-right-radius: 6px;

    height: auto;

    .section-container__topbar-search{
            
        background-color: rgb(200, 197, 183);

        display: grid;
        grid-template-columns: 1fr 3fr;
        

        text-align: left;

        padding: 20px;

        /* 2.1 */
        .topbar-search__scroll-nav{
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 10px;

            position: relative;

            button, h3{
                 font-size: 1.2rem;
            }

            button{
                background: none;
                border: none;

                transition: transform 0.5s ease;
            }

            button:hover{
                transform: scale(1.1);

                cursor: pointer;
            }

            button:active{
                font-size: 1.2rem;
                color: #ffffff;
                cursor: pointer;

                transform:rotateZ(180deg);
            }
        }

        /* 2.2 */
        .topbar-search__searching{

            display: flex;
            justify-content: center;
            align-items: center;

            gap: 30px;

            label, input, button{
                font-size: 1.2rem;
            }

            label:hover{
                color: #ffffff;
            }

            input{
                width: 700px;

                padding: 12px 24px;

                border-radius: 40px;

                outline: none;

                border: 3px solid black;
            }

            button{
                background: none;
                border: none;

                transition: transform 0.5s ease;
            }

            button:hover{
                transform: scale(1.1);

                cursor: pointer;
            }

            button:active{
                font-size: 1.2rem;
                color: #ffffff;
                cursor: pointer;

                transform:rotateY(360deg);
            }

        }

        /* <!-- 2.3 show list member --> */

        .topbar-search__listmember{
            width: 300px;
            height: 450px;

            background-color: rgb(251, 251, 251);

            position: absolute;

            top: 180px;
            left: 88px;

            box-shadow: 0px 10px 30px rgb(24, 29, 34);

            border-radius: 20px;
        }

        /* 2.3.1 topbar-search__listmember-arrow */
        .topbar-search__listmember-arrow{
            width: 50px;
            height: 300px;

            background-color: rgb(251, 251, 251);

            border-top-left-radius: 70% 100%;
            border-top-right-radius: 70% 100%;
            

           


            position: absolute;

            top: -20px;
            left: 129px;
        }
    }

    .section-container__table-list{

        /* margin: 20px 25px; */

        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(10, 1fr);

        .table-list__header{

            /* grid-column: 100px ; */
            /* margin: 10px; */
            height: auto;

            padding: 7px 10px;

            display: flex;
            justify-content: center;
            align-items: center;

            gap: 10px;

            border: 2px solid black;

            background-color: #ece9bb;

            h3{
                font-size: 1.2rem;
                color: #0c0c08;
            }

            i{
                font-size: 1.2rem;
                color: #0468ff;
            }
        }
        
        

        .table-list__body{
            /* grid-row: 100px; */
            gap: 10px;

            border: 2px solid black;

        }
        
    }
}