*{
    box-sizing: border-box;

    margin: 0;

    padding: 0;
}


/* <!-- 1. Header lesson management page --> */
.header-lmp-container,
.header-lcep-container{

    

    position: sticky;

    top: 0;


    display: grid;

    grid-template-columns: 1fr 3fr 1fr;

    padding: 12px 24px;

    background-color: rgb(54, 127, 169)     ;

    .header-lmp-logo,
    .header-lmp-title,
    .header-lmp-interact,
    .header-lcep-logo,
    .header-lcep-title,
    .header-lcep-interact{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .header-lmp-logo,
    .header-lcep-logo{
        color: #ffffff;
    }

    .header-lmp-title,
    .header-lcep-title{
        color: #ffffff;

        h1{
            transition: color 0.3s ease;
        }

        h1:hover{
            color: orange;
        }
    }

    .header-lmp-interact,
    .header-lcep-interact{

        .lcep-interact__save > button
        {
            background: none;

            outline: none;

            color: #ffffff;

            padding: 12px 20px;

            border: none;

            border-left: 2px solid orange;

            cursor: pointer;

            transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;
        }

        button:hover{
            transform: scale(1.01);
            background-color: beige;
            color: black;
        }

        .lmp-interact__previous-page,
        .lcep-interact__previous-page{
             i{
                color: #f3f4f6;

                font-size: larger;
             }
        }

        
    }
    
}

/* <!-- 2. section lesson management page --> */

.section-lcep-container{

    
    

    /* <!-- 2.1 content  --> */
    .section-lcep-container__main-content{

        width: 100%;
        height: 100vh;
     

       background-image: url(../img/background-trang-cuc-dep.jpg);

       background-size: cover;

       padding: 12px;

       display: grid;

       grid-template-rows: 1fr 3fr;

       grid-gap: 10px;





       .main-containt__allinfo{

           display: grid;

           grid-template-columns: 3fr 1fr 1fr;

           border-radius: 10px;


        /* Bassic infomation */
           .main-content__bassinfo{
               background-color:    #f4f4f475;

               display: grid;

               grid-template-rows: 1fr 1fr 1fr;

               padding: 12px;

               grid-gap: 10px;

               .bassinfo__title{
                margin: auto 0;
                 text-align: center;

               }

               .bassinfo__title-lesson{
                 
                display: flex;

                flex-direction: column;

                align-items:left;

                gap: 12px;

                label{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                    font-weight: 500;
                }

                input{
                    width: 100%;
                    padding: 12px;
                    border: none;
                    border-radius: 5px;
                }
                  
               }

               .bassinfo__description-lesson{
                

                display: flex;

                flex-direction: column;

                align-items: left;

                gap: 12px; 

                label{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                    font-weight: 500;
                }


                input{
                    width: 100%;
                    padding: 12px;
                    border: none;
                    border-radius: 5px;
                }
               }
           }
        /* Action  */
           .main-content__actionfooter{
            background-color: #f4f4f475;
                
                display: grid;

                grid-template-rows: 1fr 1fr;

                align-items: center;

                .actionfooter__title{
                    text-align: center;                   
                }

                .actionfooter__action{
                    
                   text-align: center;

                   button{
                    background-color: green;
                    border: none;
                    border-radius: 5px;
                    padding: 10px;

                    color: #ffffff;

                    cursor: pointer;
                   }

                   button:active{
                     color: yellow;
                     background-color: #2563eb;
                   }
                   
                }
           } 
        /* Attach document */
           .main-content__attachdocument{
                 background-color: #f4f4f475;

                display: grid;

                grid-template-rows: 1fr 1fr;

                align-items: center;

                
                 .attachdocument__title{
                    text-align: center;
                 }

                 .attachdocument__fileLesson {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start; 
                    gap: 12px;
                }

                .custom-file-upload {
                    color: #cc4343;
                    cursor: pointer;
                    font-size: 1.2rem;
                }

                .attachdocument__fileLesson .custom-file-upload:hover {
                    opacity: 0.7;
                }

                .file-block {
                    display: none; 
                    align-items: center;
                    background-color: #f8f9fa;
                    padding: 10px;
                    border-left: 5px solid #e74c3c;
                    border-radius: 4px;
                }

                
                #file-name {
                    font-weight: 500;
                    color: #333;
                }

                .file-block i {
                    color: #e74c3c;
                    font-size: 20px;
                    margin-right: 10px;
                }

                
                .remove-btn {
                    margin-left: 15px;
                    background: none;
                    border: none;
                    color: #999;
                    font-size: 20px;
                    cursor: pointer;
                    line-height: 1;
                }

                .remove-btn:hover {
                    color: #e74c3c;
                }
           }
       }

       

       .main-content__areamedia{
                 background-color: #f4f4f475;

                 display: grid;

                 grid-template-rows: 1fr 3fr 1fr;

                 border-radius: 10px;

                 .areamedia__title{
                    margin: auto 0;
                    text-align: center;

                    color: red;
                 }

                 .areamedia__playvideo{

                    padding: 24px;

                    

                    text-align: center;

                    h3{
                        font-size: 1.3rem;
                    }

                    video{

                        margin-top: 10px;
                        width: 100%;
                        height:500px;
                    }

                 }

                 .areamedia__uploadvideo{
                        padding: 24px;

                        margin: auto 0;

                    text-align: center;
                 }
           }

            
       
    }
}




/* III - This is lmp (lesson-management-page) */

/* <!-- 2. Section lesson management page --> */

.header-lmp-container{
    position: sticky;
    top: 0;
}

.section-lmp-container{
    display: grid;

    grid-template-columns: 1fr 3fr;

    height: 100vh;

    width: 100%;


    /* <!-- 🥲 Navigation (30%) ->> translate ->>sidepage (70%) --> */
    .section-lmp-container__navbar-main{
        background-color: #333;

        padding: 12px 24px;

        text-align: center;

        line-height: 3rem;


        .navbar-main__transToListBasicInfor,
        .navbar-main__transToLECP,
        .navbar-main__transToListLessonAll{

            border-radius: 10px;

            background-color: #fcfcfc;

            margin: 15px;

            button{
                text-decoration: none;
                padding: 12px;

                color: #000000;
               background: transparent;

               border: none;
                
               cursor: pointer;
               width: 100%;

            }

            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .navbar-main__transToListBasicInfor:hover,
        .navbar-main__transToLECP:hover,
        .navbar-main__transToListLessonAll:hover{
            background-color: #2563eb;
            button:hover{
                color: #ffffff;
            }
        }
    }


    /* <!-- 🥲 Translation 70% --> */

    .section-lmp-container__translatePage{
        background-color: #ccc;

       
        position: relative  ;

        z-index: -1;

        .translatePage__ListBasicInfor{
               position: absolute;
               top: 0;

               width: 100%;
               height: 100vh;
               background-color: #fa0b0b40;

         }

        .translatePage__ListLessonAll{
               position: absolute;
               top: 0;
               width: 100%;
               height: 100vh;
               background-color: #22d15c6c;
         }
    }
}