*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container-homepage{
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;

    overflow: hidden;
}

/* <!-- 1. First div homepage --> */

.first-container-homepage{
    background-color:rgb(34, 45, 50);
    height: 100vh;
    grid-column: 200px;

    scrollbar-width: none; /* em sài gemeni đoạn này để hiểu về cách giấu thanh scroll-bar ạ*/
    overflow-y: hidden; 
    transition: overflow 0.3s;

    

    .div-sticky{

        position: sticky;

        top: 0;

        

        .homepage__logo{
    
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(54, 127, 169) ;
    
            gap : 14px;
            line-height: 50px;
    
    
            p{
                color: white;
                font-size: 1.5rem;
            }
    
            img{
                font-size: 700px;
            }
        }
    
        .homepage-active{
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center ;

            background-color: rgb(18, 13, 13);
    
            gap: 20px;
            

            .homapage-active__includes{

                display: flex;
                justify-content: left;
                align-items: center ;

                gap: 20px;

                img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                }

                h2, p{
                color: white;
                }

            }

            a{
                font-size: 1.4rem;
                background: none;

                outline: none;

                border: none;

                color: #FFFFFF;

                cursor: pointer;
            }

            button:active{
                font-size: 1.2rem;

                color: red;
            }
    
            
        }
        
    }



    .homepage__list-vertical{

        margin: 5px;

        line-height: 50px;
        .list-vertical{
            padding: 7px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            gap : 7px;

            cursor: pointer;

            i{
                color: white;

                transition: transform 0.2s ease
            }


            .list-vertical__edit{

                display: flex;
                justify-content: left;
                align-items: center;

                gap : 10px;

                p{
                color: white;
                }

                i{
                    color: white;
                }
            }
        }
       


        /* 1. Course Provider Management - active  2. Browse new supplier - active  3. Course Management - active */
        

        /* 4. Browse new course - active  5. Course content management - active  6. Customer Management - active */
        

        /* 7. Management payments - active  8. Overview Reports - active  9. Notification management - active  10. Access management - active */
        
        .cpm:active, .bns:active, .cm:active, .bnc:active, .ccm:active, 
        .cusm:active, .mp:active, .or:active, .nm:active, .am:active {
            border-left: 4px solid rgb(78, 145, 182);
            background-color: rgba(41, 37, 37, 0.6);
        }

        .cpm:active > i, .bns:active > i, .cm:active > i, .bnc:active > i, .ccm:active > i, 
        .cusm:active > i, .mp:active > i, .or:active > i, .nm:active > i, .am:active > i {
            transform: rotate(0.5turn);
            color: red;
        }
        
    }


}

.first-container-homepage:hover {
    overflow-y: auto;
}

/* gemeni để ẩn thanh scroll mặc định của sidebar */
.first-container-homepage::-webkit-scrollbar {
    display: none;
}

.second-container-homepage{
    background-color:rgb(255, 255, 255);

    background-image: url(../DashBoardAdmin/img/banner-with-office.jpg);

    background-size: cover;

    grid-column: 900px;
    padding: 100px;
    text-align: center;

    overflow-y: auto;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

        .homepage__nav {
        text-align: center;
        padding: 60px 20px;
        margin: 40px auto;
        max-width: 800px;
        background: #ffffff79; 
        border-radius: 20px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05); 
    }

    .homepage__nav h1 {
        font-size: 4rem; 
        font-weight: 800;
        margin-bottom: 10px;
        
        color: rgb(209, 176, 145);
        background-clip: text;
        
        display: inline-block;
        transition: transform 0.3s ease;
        cursor: default;
    }

    .homepage__nav h1:hover {
        transform: scale(1.05);
    }

    .homepage__nav h2 {
        font-size: 1.2rem;
        font-weight: 400;
        color: #666; 
        letter-spacing: 2px;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
    }

    .homepage__nav h2::after {
        content: "";
        display: block;
        width: 50px;
        height: 3px;
        background: #eea703;
        margin: 10px auto 0;
        border-radius: 10px;
    }

   

    /* Show all sub-pannel */
    .page-cpm-container, .page-bns-container, .page-cm-container, 
    .page-bnc-container, .page-ccm-container, .page-cusm-container, 
    .page-mp-container, .page-or-container, .page-nm-container, 
    .page-am-container {
        position: absolute;
        top: 30px;
        left: 30px;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(62, 137, 229, 0.6);
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.407), rgba(252, 252, 252, 0.281));
    }

    [class*="-container__"] {
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        h3{
            font-size: 1.5rem;
            color: #121010;
        }

        button{
            background: none;
            padding: 10px;

            border-radius: 50%;
            border: 3px dotted black;

            cursor: pointer;
        }

        button:hover{
            background-color: #252121;
            color: #FFFFFF;
            font-weight: 600;
        }

        button:active{
            background-image: linear-gradient(90deg,rgba(93, 69, 69, 0.299));
            box-shadow: 0px 0px 10px rgba(255, 22, 22, 0.6);
            color: #ffffff71;
            font-weight: 600;

            transform: scale(0.3s);
        }
    }
    
} 




